body {
color: Black;
margin-top: 0px;
}

.site{
background: gray;
margin: 0 auto;
width: 1260px;
}
.sitetop2text{
float:left;
background: green;
width: 647px;
}

.logotype{
background: url('images/logotype.png');
width: 647px;
height: 121px;
}

.topmenu{
background: url('images/topmenu.png');
width: 647px;
height: 48px;
overflow:hidden;
}

.navigat{ 
width: 622px;
height: 45px;
margin-top:0px;
margin-left:50px;
overflow:hidden;
}

.navigat .mitem{
float:left;
margin-left:10px;
margin-right:10px;
}
.navigat .mitem img{
margin-top:5px;
margin-left:0px;
margin-right:0px;
}

.navigat .mitem li{
list-style: none;
line-height: 1;
text-align: center;
padding-top: 13px;
height: 40px;
text-transform: uppercase;
}

.navigat .mitem li a {
text-decoration: none;
font-family: Trebuchet MS;
font-size: 16px;
text-transform: uppercase;
color: white;
}

.navigat .mitem li:hover {
background-color:rgb(26,153,172); 
}

.navigat .mitem li:hover a {
color:white;
}

.toptextblock{
background:url('images/toptext.png') repeat-y;
width: 647px;
height: 362px; 
}

.toptext{
background:url('images/toptext.png') repeat-y;
width: 447px;
height: 362px;
font-family: Trebuchet MS;
font-size:14px;
padding-right:170px;  
padding-left:30px;  
padding-top:30px;
}

.socbook{
float:left;
background: green;
width: 613px;
}
.social{
background: url('images/social.png');
width: 613px;
height: 74px;
}
.socialicon{
margin-left:203px;  
width:200px; 
color:#82a0b8; 
text-align:center;
}

.sb{
width: 202px;
height: 54px;
}

.sb img {
float:left; 
margin:0px; 
margin-top:25px;
}


.booking{
float: left;
background: url('images/booking.png');
width: 613px;
height: 457px;
}

.textform{
width: 593px;
margin-top:55px;
margin-left:10px;
padding: 10px;
}

.textformrad{
width: 250px;
height: 40px;
font-family: Tahoma;
font-size: 13px;
margin-top:165px;
margin-left:250px;
padding: 10px;
}

.textform .login{
float: left;
font-family: Trebuchet MS;
font-size: 14px;
padding-bottom: 5px;
padding-top: 5px;
padding-right:20px;
padding-left:20px;
}

.textform input {
width: 216px;
font-size: 16px;
margin-right: 5px;
}

.batton {float:left;
margin-top:12px;  
margin-left:0px;  
width:100%; 
color:#82a0b8; 
text-align:center;}

.batton .bat{
padding-left:10px;
padding-right:400px;
}

.middlephoto{
float:left;
background: green;
width: 647px;
}
.photogallery{
background: url('images/Photogallery.png') repeat-y;
width: 577px;
padding-right:40px;  
padding-left:30px; 
padding-bottom:5px;  
padding-top:5px; 
}

.pageinfo{
clear: both;
display: block;
padding-left: 20px;
background: url(../graph/greeting.png) bottom repeat-x;
margin-bottom: 0px;
}

.pageinfo h1{
font-family: Tahoma;
font-size: 22px;
color:rgb(7,68,106);
padding-bottom: 19px;
}

.prewgallery{
margin-top: 10px;
padding-top: 15px;
overflow: hidden;
width: 647px;
clear: both;
border-top: solid 0px #dddddd;
font-size: 11px;
}


.prewgalleryarea{
width:647px; 
}


.prewgalleryareaitem{
font-family: Aria;
width: 175px;
overflow: hidden;
margin-right: 20px;
margin-bottom: 15px;
display: -moz-inline-stack;
display: inline-block;
vertical-align: text-top; 
zoom: 1;
}

.prewgalleryareaitem   a {
text-decoration: none;
font-family: Aria;
font-size: 10px;
text-transform: none;
color: rgb(255,102,0);
}

.prewgalleryareaitem  p {
margin-top:3px;
margin-bottom:3px;
padding-top:0px; 
padding-bottom:0px;
}

h1 {
margin: 0px;
padding: 0px;
padding-bottom: 19px;
margin-bottom: 10px;
font-weight: normal;
font-size: 21px;
font-family: Trebuchet MS, Arial, Tahoma;
}

.middletextpage{
float:left;
background: green;
width: 613px;
}
.textpageblock{
background: url('images/textpage.png') repeat-y;
width: 613px;
height:392px;
}

.textpage{
background: url('images/textpage.png') repeat-y;
width: 603px;
font-family: Trebuchet MS;
font-size:14px;
padding-right:60px;  
padding-left:0px; 
padding-top:40px; 
}

.bottom{
float:left;
background: url('images/bottom.png') bottom no-repeat;
width: 1260px;
height: 84px;
}

.topmenuniz {
float:left; 
height:23px; 
width:100%; 
margin-left:842px; 
margin-top:25px; 
overflow:hidden;
}

.topmenuniz .mitemniz {
float: left;
margin-left:3px;
margin-right:3px;
}
.topmenuniz li{
color:white;
}
.topmenuniz .mitemniz li{
list-style: none;
line-height: 1;
text-align: center;
text-transform:none;
background-color:none;
}
.topmenuniz .mitemniz li a{
text-decoration: none;
padding:5px;
font-family: Arial;
font-size: 11px;
text-transform: none;
color: White;
}

.topmenuniz .mitemniz li:hover{
color:White;
}
.topmenuniz .mitemniz li:hover a{
 color:White;
}

